
@media only screen and (min-width: 320px) and (max-width: 480px) {

    #inner-container{
        display: none;
    }

    #dropDownState{
        background-color: cadetblue;
    }

    #dropDownMenu{
        display: flex;
        justify-content: center;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    #kwContainer{
        margin-bottom: 50px;
    }

}


@media (min-width: 481px) {

    #inner-container{
        display: flex;
        width: 100%;
    }

    #map{
        width: 60vw;
        height: 60vw;
    }

    #stateSelected{
        display: flex;
        padding: 12px;
        height: 450px;
    }

    #stateSelected div{
        padding: 10px;
        height: 450px;
    }

    #dropDownState{
        display: none;
    }

    #kwContainer{
        margin-top: -250px;
        margin-left: 222px;
        margin-bottom: 50px;
    }

    #charts{
        display: flex;
        flex-direction: column;
    }

    #priceContainer{
        margin-left: 222px;
    }

}

body{
    background-color: white;
}

#header{
    background-color: #313131;
}

#header h1{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: lighter !important;
    text-decoration: none;
}