
@media only screen and (min-width: 320px) and (max-width: 480px) {

    #inner-container{
        display: none;
    }

    #dropDownState{
        background-color: #51cda0;
        margin-top: 10px;
    }

    #dropDownMenu{
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
        margin-top: 20px;
        width: 100px;
        align-items: baseline;
        font-family: sans-serif;
        font-weight: 400;
        font-size: large;
    }

    #freqMenu{
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        margin-top: 20px;
        align-items: baseline;
        font-family: sans-serif;
        font-weight: 400;
        font-size: large;
    }

    #dropDownFreq{
        background-color: #51cda0;
        margin-top: 10px;
    }

    #kwContainer{
        margin-bottom: 50px;
    }
    
    #stateSelected{
        display: flex;
        height: 50px;
    }

}


@media (min-width: 481px) {

    #inner-container{
        display: flex;
        width: 100%;
    }

    #map{
        width: 60vw;
        height: 60vw;
    }

    #stateSelected{
        display: flex;
        height: 250px;
        padding: 20px;
        margin: 50px;
    }

    ul h3{
        text-align: center;
        background-color: #51cda0;
    }

    #stateSelected li{
        padding: 5px;
        margin-left: 25px;
    }

    #kwContainer{
        margin-top: -250px;
        margin-left: 222px;
        margin-bottom: 50px;
    }

    #charts{
        display: flex;
        flex-direction: column;
    }

    #priceContainer{
        margin-left: 222px;
    }

    #dropDownState{
        display: none;
    }

    #dropDownMenu{
        display: none;
    }

    #freqMenu{
        display: flex;
        flex-direction: column;
    }

    #dropDownFreq{
        background-color:#51cda0;
        margin-top: 10px;
        width: 200px;
    }

}

body{
    background-color: white;
}

#header{
    background-color: #313131;
    display: flex;
    align-items: center;
    justify-content: center;
}

#header h1{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-weight: lighter !important;
    text-decoration: none;
    padding: 5px;
}

img{
    width: 90px;
    height: 90px;
    padding: 10px;
}